/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-weight);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
  font-size: var(--common-size);
  position: relative;
  padding-block-start: 100px;
}

.section-content {
  inline-size: var(--content-width);
  margin: 0 auto;
}

.header {
  font-family: 'PressStart2P', serif;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-block-start: 100px; */
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  margin-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  margin-block-end: 20px;
  font-weight: var(--main-weight);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
  margin-block-end: 22px;
  font-weight: var(--main-weight);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-inline-start: 20px;
  margin-block-end: 20px;
}

.theme-menu__button {
  appearance: none;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  font-size: var(--accent-size);
  font-weight: var(--main-weight);
  padding: 0;
  position: relative;
  line-height: 17px;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -20px;
  animation: currentTheme 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  margin-block: 100px;
}

.main__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--large-gap);
}

.main__card-list {
  display: flex;
  flex-direction: column;
  gap: var(--large-gap);
}

.card-list__item {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: auto;
}

.card__title {
  font-family: inherit;
  font-variation-settings: 'wght' var(--accent-weight);
  padding-inline: 10px;
  padding-block: 5px;
  font-size: var(--common-size);
  line-height: 21.78px;
  position: relative;
}

.card__wrapper {
  position: relative;
}

.card__image {
  inline-size: 100%;
  /* block-size: var(--content-width); */
  object-fit: cover;
  object-position: right;
  outline: 2px solid var(--accent-color);
  aspect-ratio: 1 / 1;
}

.card__label {
  font-family: 'PressStart2P', serif;
  font-size: var(--accent-size);
  font-variation-settings: 'wght' var(--main-weight);
  position: absolute;
  inset-block-start: var(--small-gap);
  inset-inline-end: clamp(0.75rem, 0.464rem + 1.221vw, 1.563rem);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--bg-color);
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {

  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card__text {
  margin: var(--small-gap);
  line-height: 21px;
}

.card__memories {
  line-height: 21px;
  margin-inline: var(--small-gap);
  /* margin-block-end: var(--small-gap); */
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin-inline-end: var(--small-gap);
  margin-block-start: var(--small-gap);
  margin-block-end: var(--small-gap);
}

.card__heart-button {
  background-color: transparent;
  border: none;
  padding: 0;
  block-size: 36px;
  transition: outline 0.3s ease;
  position: relative;
}

.card__heart-button:focus, .card__heart-button:focus-visible {
  outline: none;
}

.card__heart-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon {
  /* inline-size: 100% */
  /* inline-size: 27px;
  block-size: 24px; */
}

.card__like-button {
  /* margin: var(--small-gap);
  margin-inline-start: 0; */
  inline-size: 130px;
  block-size: 40px;
  align-self: end;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: var(--accent-size);
  line-height: 12.6px;
  border: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: end;
  gap: 12px;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  border: 2px solid var(--accent-color);
  display: block;
  /* block-size: 100%; */
  inline-size: 130px;
  padding-block: 11.5px;
  line-height: 12.6px;
}

.main__save-memories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  padding-block: 15px;
  /* gap: 8px; */
  gap: clamp(0.75rem, 0.838rem + -0.376vw, 0.5rem);
  border: none;
  outline: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.save-memories__icon {
  inline-size: clamp(1.3125rem, 1.904rem + -0.6573vw, 1.75rem);
  color: var(--accent-color);
}

.save-memories__text {
  font-family: var(--accent-font), serif;
  font-size: var(--accent-size);
  line-height: 12.6px;
}
