/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable', serif;
  --accent-font: 'PressStart2P', fantasy;
  --main-weight: 400;
  --accent-weight: 700;
  --bg-color: rgb(255 255 255 / 1);
  --accent-color: rgb(0 0 0 / 1);
  --gradient-color-first: #d3d3d3;
  --gradient-color-second-start: #e7e7e7;
  --gradient-color-second-end: #1a1a1a;
  --bg-image: repeating-linear-gradient(
      to right,
      var(--gradient-color-first),
      var(--gradient-color-first) 2px,
      transparent,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-color-first),
      var(--gradient-color-first) 2px,
      transparent,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      var(--gradient-color-second-start) 0.01%,
      var(--gradient-color-second-end) 100%
    );
  --content-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --accent-size: 14px;
  --common-size: 18px;
  --small-gap: 25px;
  --large-gap: 49px;
  --button-text-color: #fff;
  --heart-sparks-color: rgb(255 0 0 / 1);
  --heart-core-color: rgb(255 0 0 / 1);
  --heart-main-body-color: rgb(255 0 0 / 1);
  --heart-contour-color: rgb(0 0 0 / 1);
  --label-color: rgb(0 0 0 / 0.8);
}

@media (width <= 375px) {

  :root {
    --content-width: 100%;
  }
}
